<div class="page">
  <header class="header" role="banner">
    <div class="header__inner l-constrain">
      {{ page.header }}
      {{ page.navigation }}
    </div>
  </header>

  {{ page.highlighted }}
  {{ page.help }}
  {{ page.preface}}

  <main class="main" role="main" tabindex="-1">

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {{ page.content }}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {{ page.postscript }}

  {% if page.footer %}
    <footer class="footer" role="contentinfo">
      <div class="footer__inner l-constrain">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}

</div>
