<div class="dropdown {% if customClasses %} {{ customClasses }}{% endif %}">
  <div class="button button--dropdown">Choose a Different Topic</div>

  <div class="dropdown__options">
  	<div class="dropdown__option"><a class="dropdown__link" href="{{ url }}">{{ topic }}</a></div>
  	<div class="dropdown__option"><a class="dropdown__link" href="{{ url }}">{{ topic }}</a></div>
  	<div class="dropdown__option"><a class="dropdown__link" href="{{ url }}">{{ topic }}</a></div>
  	<div class="dropdown__option"><a class="dropdown__link" href="{{ url }}">{{ topic }}</a></div>
  	<div class="dropdown__option"><a class="dropdown__link" href="{{ url }}">A very long topic with lots of characters that make it really long</a></div>
  </div>
</div>
