<html class="no-js {{ htmlClass }}" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ pageTitle }} | {{ siteName }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700">
    <link rel="stylesheet" href="../../../../../../core/assets/vendor/jquery.ui/themes/base/core.css?v=1.11.4" media="all">
    <link rel="stylesheet" href="../../../../../../core/assets/vendor/jquery.ui/themes/base/datepicker.css?v=1.11.4" media="all">
    <link rel="stylesheet" href="../../../../../../core/assets/vendor/jquery.ui/themes/base/base.css?v=1.11.4" media="all">
    <link rel="stylesheet" href="../../../../../../core/assets/vendor/jquery.ui/themes/base/theme.css?v=1.11.4" media="all">

    <!--[if gte IE 9]><!-->
    <link rel="stylesheet" href="../../../../css/styles.css?{{ cacheBuster }}" media="all">
    <!--<![endif]-->

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="../../../../css/no-mq.css?{{ cacheBuster }}" media="all">
    <![endif]-->


    <!--[if lte IE 8]>
    <script src="../../../../../../core/assets/vendor/html5shiv/html5shiv.min.js?v=3.7.3"></script>
    <![endif]-->

    <link rel="stylesheet" href="../../../../css/pattern-lab.css?{{ cacheBuster }}" media="all">

    <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '');</script>
    <script src="../../../../../../core/assets/vendor/modernizr/modernizr.min.js?v=3.3.1"></script>
    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fe0a2f86664049b"></script>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->
  </head>
  <body class="{{ bodyClass }}">
    <div class="skiplinks">
      <a href="#main" class="skiplinks__link u-focusable">Skip to main content</a>
    </div>
