{%
  set classes = [
    'feature'
  ]
%}
{{ attach_library('classy/node') }}

<article{{ attributes.addClass(classes) }} role="article">
  <div class="l-slat l-slat--feature">
    <div class="l-slat__media">
      <a href="{{ url }}" class="feature__image" style="background-image: url({{ content.field_hero|render|trim }});"></a>
    </div>
    <div class="l-slat__content">
      <div class="teaser-info teaser-info--feature">
        <span class="teaser-info__item">{{ content.field_term_post_type }}</span>
      </div>
      <h1 class="page-title"><a href="{{ url }}">{{ content.title }}</a></h1>
      <h2 class="subtitle">{{ content.field_subtitle }}</h2>
      <div class="feature__divider"></div>
      <div class="feature__body">
        <span class="published-date">{{ content.field_published_date }}</span>
        - {{ content.field_teaser_plain }}
        <div class="read-more"><a href="{{ url }}">Read more</a></div>
      </div>
    </div>
  </div>
</article>
