{%
  set classes = [
    'card',
    content.field_is_featured.0['#markup'] == "Yes" ? 'card--highlighted',
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <a class="card__link" href="{{ url }}">
	  <div class="card__type">{{ content.field_term_post_type }}</div>
	  <h2 class="card__title">{{ content.title }}</h2>
	  <h3 class="card__subtitle">{{ content.field_subtitle }}</h3>
	  <div class="card__date">{{ content.field_published_date }}</div>
  </a>
</article>
