{%
  set classes = [
    'node',
    'node--type-advocacy',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--display-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="hero hero--feature hero--section-page">
    <div class="hero__content--feature l-constrain">
      <h1 class="page-title page-title--section-page">{{ content.title }}</h1>
      {{ drupal_block('cbcny_theme_local_tasks') }}
      {{ content.field_ref_featured_content }}
    </div>
  </div>

  <div class="l-constrain">
    {{ drupal_view('advocacy','cards') }}
  </div>

</article>
