<article class="node node--type-article node--display-mode-teaser" role="article">
  <div class="post-info">
    <span class="post-info__item">{{ type }}</span><span class="post-info__item">{{ topic }}</span>
  </div>
  <h2 class="node__title"><a href="{{ url }}">{{ title }}</a></h2>
  <div class="node__date">{% include "base-medium-date" %}</div>
  {{ summary | raw }}
</article>
