{%
  set classes = [
    'node',
    'node--type-research',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--display-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>

  <div class="hero hero--feature hero--section-page">
    <div class="hero__content--feature l-constrain">
      <h1 class="page-title page-title--section-page">{{ content.title }}</h1>
      {{ content.field_ref_featured_content }}
    </div>
  </div>

  <div class="l-constrain">
    {{ drupal_view('research','blog') }}
    <div class="view__seperator"></div>
    {{ drupal_view('research','report') }}
    <section class="section">
      <h2 class="section-title centered">Browse Topics</h2>
        {{ drupal_block('homepage_topics_slider') }}
    </section>
  </div>

</article>
