{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--display-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>

  {# Display Hero #}
  {% if content.field_hero|render %}
    <div class="hero hero--large" style="background-image: url({{ content.field_hero|render|trim }});">
      <div class="hero__content">
        <div class="page-info">
          <span class="page-info__item">{{ content.field_term_post_type }}</span>
          <span class="page-info__item">{{ content.field_term_topic.0['#plain_text'] }}</span>
        </div>
        <h1 class="page-title">{{ content.title }}</h1>
        <h2 class="subtitle">{{ content.field_subtitle }}</h2>
      </div>
    </div>
  {% else %}
    <div class="hero hero--small">
      <div class="hero__content">
        <div class="page-info">
          <span class="page-info__item">{{ content.field_term_post_type }}</span>
          <span class="page-info__item">{{ content.field_term_topic.0['#plain_text'] }}</span>
        </div>
        <h1 class="page-title">{{ content.title }}</h1>
        <h2 class="subtitle">{{ content.field_subtitle }}</h2>
      </div>
    </div>
  {% endif %}

  {# Display Page content #}
  <div class="l-constrain l-constrain--main-content">

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="share-links">
      <div class="share-links__label">Share This Page</div>
      <div class="share-links__links addthis_inline_share_toolbox"></div>
    </div>

    <div class="published-date">{{ content.field_published_date }}</div>

    {{ content.field_page_content }}
  </div>

</article>
