{# Grab source url for Press Metions #}
{% if content.field_term_post_type.0['#plain_text'] == "Press Mention" %}
  {% set card_link = content.field_source_url.0['#title'] %}
{% else %}
  {% set card_link = url %}
{% endif %}
{# Use "podcast episode" as type for podcast episdoes #}
{%  if node.bundle == 'podcast_episode' %}
  {% set card_type = 'Podcast Episode' %}
{% else %}
  {% set card_type = content.field_term_post_type %}
{% endif %}

{%
  set classes = [
    'card',
    content.field_is_featured.0['#markup'] == "Yes" ? 'card--highlighted',
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <a class="card__link" href="{{ card_link }}">
	  <div class="card__type">{{ card_type }}</div>
	  <h2 class="card__title">{{ content.title }}</h2>
	  <h3 class="card__subtitle">{{ content.field_subtitle }}</h3>
	  <div class="card__date">{{ content.field_published_date }}</div>
  </a>
</article>
