{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--display-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>

  {# Display Hero #}
  {% if content.field_hero|render %}
    <div class="hero hero--large" style="background-image: url({{ content.field_hero|render|trim }});">
      <div class="hero__content">
        <div class="page-info">
          <span class="page-info__item">{{ content.field_term_post_type }}</span>
          <span class="page-info__item">{{ content.field_term_topic.0['#plain_text'] }}</span>
        </div>
        <h1 class="page-title">{{ content.title }}</h1>
        <h2 class="subtitle">{{ content.field_subtitle }}</h2>
      </div>
    </div>
  {% else %}
    <div class="hero hero--small">
      <div class="hero__content">
        <div class="page-info">
          <span class="page-info__item">{{ content.field_term_post_type }}</span>
          <span class="page-info__item">{{ content.field_term_topic.0['#plain_text'] }}</span>
        </div>
        <h1 class="page-title">{{ content.title }}</h1>
        <h2 class="subtitle">{{ content.field_subtitle }}</h2>
      </div>
    </div>
  {% endif %}

  {# Display Page content #}
  <div class="l-constrain l-constrain--main-content">

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="share-links">
      {% if node.field_press_release.0.url %}
        <a href="{{ node.field_press_release.0.url }}" target="_blank"><img
            class="share-links__icon"
            src="/themes/cbcny_theme/images/press-release-icon.svg"></a>
        <a href="{{ node.field_press_release.0.url }}" target="_blank"
           class="share-links__item">Press Release</a>
      {% endif %}
      <a href="#"><img class="share-links__icon"
                       src="/themes/cbcny_theme/images/download-icon.svg"></a>
      <a href="#" class="share-links__item">Download Report</a>
      <a href="#" onclick="window.print();return false;"><img
          class="share-links__icon"
          src="/themes/cbcny_theme/images/printer-icon.svg"></a>
      <a href="#" class="share-links__item"
         onclick="window.print();return false;">Print</a>
      <a class="addthis_button_compact"><img class="share-links__icon"  src="/themes/cbcny_theme/images/addthis-icon.svg"></a>
      <a class="addthis_button_compact share-links__item"><span>Share</span></a>
    </div>

    <div class="published-date">{{ content.field_published_date }}</div>

      {% if (content.field_page_content|render) %}
          {{ content.field_page_content }}
      {% else %}
          <section class="section"><p>{{ content.field_teaser_plain }}</p></section>
      {% endif %}
      {%  if (content.field_source_url.0['#title']) %}
          <a href="{{ content.field_source_url.0['#url'] }}" target="_blank">{{ content.field_source_url.0['#title'] }}</a>
      {% elseif (content.field_source_url.0['#url']) %}
          <a href="{{ content.field_source_url.0['#url'] }}" target="_blank">Read the original article</a>
      {% endif %}
  </div>

</article>
