{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--display-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="post-info">
    <span class="post-info__item">{{ content.field_term_post_type }}</span><span class="post-info__item">{{ content.field_term_topic.0['#plain_text'] }}</span>
  </div>
  <h2 class="node__title"><a href="{{ url }}">{{ content.title }}</a></h2>
  <h3 class="">{{ content.field_subtitle }}</h3>
  <div class="node__date">{{ content.field_published_date }}</div>
  {{ content.field_teaser_plain }}
</article>
