<div class="dropdown">
  <div class="button dropdown-button">Choose a Different Topic</div>

  <div class="dropdown__options">
  	<div class="dropdown__option"><a class="dropdown__link" href="{{ url }}">{{ topic }}</a></div>
  	<div class="dropdown__option"><a class="dropdown__link" href="{{ url }}">{{ topic }}</a></div>
  	<div class="dropdown__option"><a class="dropdown__link" href="{{ url }}">{{ topic }}</a></div>
  	<div class="dropdown__option"><a class="dropdown__link" href="{{ url }}">{{ topic }}</a></div>
  	<div class="dropdown__option"><a class="dropdown__link" href="{{ url }}">A very long topic with lots of characters that make it really long</a></div>
  </div>
</div>
