<div class="flexslider">
	<div class="flex-viewport" style="overflow: hidden; position: relative;">
		<ul class="slides" style="width: 1000%;">
			<li class="slide" style="width: 200px; float: left; display: block;">
				<a href="{{ url }}">
					<div class="slide__image"><img src="url({{ img.slideImage.src }}"></div>
					<div class="slide__text">{{ slideText }}</div>
				</a>
			</li>
			<li class="slide" style="width: 200px; float: left; display: block;">
				<a href="{{ url }}">
					<div class="slide__image"><img src="url({{ img.slideImage.src }}"></div>
					<div class="slide__text">{{ slideText }}</div>
				</a>
			</li>
			<li class="slide" style="width: 200px; float: left; display: block;">
				<a href="{{ url }}">
					<div class="slide__image"><img src="url({{ img.slideImage.src }}"></div>
					<div class="slide__text">{{ slideText }}</div>
				</a>
			</li>
			<li class="slide" style="width: 200px; float: left; display: block;">
				<a href="{{ url }}">
					<div class="slide__image"><img src="url({{ img.slideImage.src }}"></div>
					<div class="slide__text">{{ slideText }}</div>
				</a>
			</li>
		</ul>
	</div>
	<ul class="flex-direction-nav">
		<li class="flex-nav-prev">
			<a class="flex-prev" href="#">Previous</a>
		</li>
		<li class="flex-nav-next">
			<a class="flex-next" href="#">Next</a>
		</li>
	</ul>
</div>