<div class="slick-carousel slick-carousel-topics slick-blue-buttons">
	<div>
		<a href="{{ url }}">
			<div class="slide__image"><img src="http://uploads.webflow.com/57cef2f6b6529fe831fddb47/57d2ca6c578a8a81597b9517_icon-topic-city-budget.svg"></div>
			<div class="slide__text">New York City Budget</div>
		</a>
	</div>
	<div>
		<a href="{{ url }}">
			<div class="slide__image"><img src="http://uploads.webflow.com/57cef2f6b6529fe831fddb47/57d2cfde578a8a81597b9ef5_icon-topic-economic-development.svg"></div>
			<div class="slide__text">Economic Development</div>
		</a>
	</div>
	<div>
		<a href="{{ url }}">
			<div class="slide__image"><img src="http://uploads.webflow.com/57cef2f6b6529fe831fddb47/57d2cfec7157a0022ab30098_icon-topic-education.svg"></div>
			<div class="slide__text">Education</div>
		</a>
	</div>
	<div>
		<a href="{{ url }}">
			<div class="slide__image"><img src="http://uploads.webflow.com/57cef2f6b6529fe831fddb47/57d2cffd25e8c28c59627bbb_icon-topic-health.svg"></div>
			<div class="slide__text">Healthcare</div>
		</a>
	</div>
	<div>
		<a href="{{ url }}">
			<div class="slide__image"><img src="http://uploads.webflow.com/57cef2f6b6529fe831fddb47/57d30a089520dcdb5092db69_icon-topic-benefits.svg"></div>
			<div class="slide__text">Pensions &amp; Fringe Benefits</div>
		</a>
	</div>
</div>
