{% if hasImage %}
  <div class="hero hero--large has-image" style="background-image: url({{ img.hero.src }});">
{% else %}
  <div class="hero hero--small">
{% endif %}
  <div class="hero__content">
    <div class="page-info">
      <span class="page-info__item">{{ type }}</span>
      <span class="page-info__item">{{ topic }}</span>
    </div>
    <h1 class="page-title">{{ pageTitle }}</h1>
    <h2 class="subtitle">{{ subtitle }}</h2>
  </div>
</div>
