{#
/**
 * @file
 * Theme override to display the footer region.
 */
#}

<footer class="footer" role="contentinfo">
  <div class="footer__inner l-constrain">
    <div class="footer__top">
      {{ drupal_block('social_media_links') }}
      {{ drupal_block('stay_updated_callout') }}
    </div>
    <div class="footer__middle">
      {{ drupal_block('cbcny_about') }}
      {{ drupal_block('cbcny_footer_logo') }}
      {{ drupal_block('cbcny_address') }}
    </div>
    <div class="footer__bottom">
      <div id="block-copyright" class="block--copyright">&copy; {{ 'now' | date('Y') }} Citizens Budget Commission</div>
      {{ drupal_block('cbcny_footer_menu') }}
    </div>
  </div>
</footer>


<!-- MODAL  -->
<div id="subscribeModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" id="closeSubscribeModal">&times;</span>
    <h2 class="modal-title " id="subscribeModalLabel">Subscribe</h2>
    <p>Like what you're reading? Subscribe to our e-alerts to stay up-to-date on new publications and the latest insights from CBC!</p>
       <a class="button button--blue button--subscribe" href="/subscribe" target="_blank">Subscribe</a>
  </div>
</div>