<div class="layout-search">

  <div class="layout-search__top">
    <h1 class="page-title page-title--search">Search</h1>
    <div class="view-search">
      {{ exposed }}
    </div>
    {{ drupal_block('search_trending_searches') }}
  </div>

  <div class="layout-search__sidebar">
    <h2 class="sidebar-heading">Filter Search Results:</h2>
    {{ drupal_block('search_topic') }}
    {{ drupal_block('search_type') }}
  </div>

  <div class="layout-search__main">
    {% if header %}
      {{ header }}
    {% endif %}
    {{ rows }}
    {{ empty }}
  </div>

</div>

{{ pager }}
