{%
  set classes = [
    'block',
    'block--trending-searches'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <div{{ title_attributes }} class="block__label">{{ label }}</div>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div class="block__content">
      {{ content }}
    </div>
  {% endblock %}
</div>
